<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">

    <!--============================================================-->
    </hr>
    <h3>Список продуктов</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Товар</td>
            <td>Цена</td>
            <td>Изменить цену</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in ProductList">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changePrice(s.id, -5)">-</button>
                {{s.price}}
                <button class="btn btn-primary" ng-click="changePrice(s.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(s.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    </br>
    </br>

    <!--============================================================-->
<!--    <h3>Фильтр продуктов по Цене</h3>-->
<!--    <form novalidate ng-submit="filterPriceBetweenFun()">-->
<!--        <input class="form-control" type="number" placeholder="цена от " ng-model="filterPriceBetween.min">-->
<!--        <input class="form-control" type="number" placeholder="цена до " ng-model="filterPriceBetween.max">-->
<!--        </br>-->
<!--        <button type="submit" class="btn btn-primary">OK</button>-->
<!--    </form>-->
<!--    </br>-->

    <h3>Фильтр продуктов по Цене</h3>
    <form novalidate ng-submit="loadProduct()">
        <input class="form-control" type="number" placeholder="цена от " ng-model="filterPriceBetween.min">
        <input class="form-control" type="number" placeholder="цена до " ng-model="filterPriceBetween.max">
        </br>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
    </br>


    <!--============================================================-->
    </hr>
    <h3>Добавить Продукт</h3>
    <form novalidate ng-submit="saveNewProductFun()">
        <input class="form-control" type="text" placeholder="Название" ng-model="saveNewProduct.name">
        </br>
        <input class="form-control" type="number" placeholder="Цена" ng-model="saveNewProduct.price">
        </br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    </br>



<!-- //end container-->
</div>


</body>
</html>